/* ==UserStyle==
@name           rememberthemilk.com
@namespace      github.com/calexicoz
@version        1.0.0
==/UserStyle== */

@-moz-document domain("rememberthemilk.com") {
  a[target="_blank"] {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 20em;
    vertical-align: bottom;
  }
}
